<h1>Quiz ASU API</h1>
<h2>Here Will be the documentation for public</h2>
<h3>Authentication</h3>
<p>
GET    /users/sign_in(.:format)</br>
POST   /users/sign_in(.:format)</br>
DELETE /users/sign_out(.:format)</br>
POST   /users/password(.:format)</br>
GET    /users/password/new(.:format)</br>
GET    /users/password/edit(.:format)</br>
PATCH  /users/password(.:format)</br>
PUT    /users/password(.:format)</br>
GET    /users/cancel(.:format)</br>
POST   /users(.:format)</br>
GET    /users/sign_up(.:format)</br>
GET    /users/edit(.:format)</br>
PATCH  /users(.:format)</br>
PUT    /users(.:format)</br>
DELETE /users(.:format)</br>

</p>
</br>